// main: style.less

@BLACK: #000000;
@WHITE: #ffffff;

@RED: #ff0033;
@BLUE: #18a8e1;

@darkGREY: #2c292a;
@lightGREY: #f8f8f8;
@midGREY: #DDDDDD;

@textWHITE: #ffffff;
@textBlACK: #000000;
@textDARK: #505050;
@textGRAY: #999999;


/* FONTS */


.fontLight(){
	font-family: 'MuseoSans-100', Arial;
	font-weight: 300;
}

.fontRegular(){
	font-family: 'MuseoSans-300', Arial;
	font-weight: 300;
}

.fontMedium(){
	font-family: 'MuseoSans-500', Arial;
	font-weight: 300;
}

.fontBold(){
	font-family: 'MuseoSans-700', Arial;
	font-weight: 300;
}

.fontBlack(){
	font-family: 'MuseoSans-900', Arial;
	font-weight: 300;
}
