// main: style.less

.Header {
	position: absolute;
	z-index: 5000;
	top: 0px;
	left: 0px;
	right: 0px;
	background: @BLACK;
	padding: 19px 20px 5px 20px;
}

.Content {
	padding-top: 76px;
	min-height: 700px;
}

.Footer {
	padding: 50px 40px 30px 40px;
	background: @darkGREY;
	text-align: center;

	.foot-logo {
		img {
			width: 240px;
			height: auto;
		}
	}

	nav {
		margin-top: 20px;

		ul {
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
			list-style-type: none;
			li {
				display: inline-block;
				margin: 0px 10px;
				padding: 0px 0px 0px 0px;
			}
		}
	}

	.foot-links {
		a {
			color: @WHITE;
			.fontMedium;
			font-size: 14px;
			text-transform: uppercase;
			transition: color 250ms;
		}

		a:hover {
			color: @BLUE;
		}
	}

	.foot-social {
		ul li {
			margin: 0px 10px;
		}
		a {
			display: inline-block;
			width: 30px;
			height: 26px;

			i {
				color: @WHITE;
				font-size: 24px;
				vertical-align: middle;
				transition: color 250ms;
			}

		}

		a:hover {
			.fa-twitter { color: #00aced; }
			.fa-facebook { color: #3b5998; }
			.fa-linkedin { color: #0077b5; }
			.fa-instagram { color: #fccc63; }
			.fa-youtube-play { color: #e30000; }
		}
	}

	.foot-etc {
		color: @WHITE;
		.fontRegular;
		font-size: 11px;
		span {
			display: inline-block;
			margin: 0px 5px;
		}

		a {
			color: @WHITE;
			transition: color 250ms;
		}

		a:hover {
			color: @BLUE;
		}
	}
}


@media only screen and (max-width: 800px) {
	.Footer {
		 padding: 50px 20px 30px 20px;

		.foot-links {
			li {
				margin: 0px 6px;
			}

			a {
				font-size: 13px;
			}
		}
	}

}
