// main: style.less

.Partners {
	animation-name: partneranim;
	animation-duration: 1000ms;
}

@keyframes partneranim {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.Partners {
	margin: 0px 0px 100px 0px;
	text-align: center;

	h5 {
		margin: 0px 0px 40px 0px;
		padding: 0px 0px 0px 0px;
		.fontRegular;
		font-size: 18px;
		color: @textGRAY;
		text-transform: uppercase;
		line-height: 100%;
	}

	.partner-links {
		a {
			display: inline-block;
			margin: 0px 20px;
			vertical-align: middle;
			opacity: 0.5;
			transition: opacity 250ms;

			img {
				width: auto;
				height: auto;
				max-width: 130px;
				max-height: 50px;
			}
		}

		a:hover {
			opacity: 1;
		}
	}

}


@media only screen and (max-width: 800px) {

	.Partners {
		h5 {
			font-size: 16px;
		}

		.partner-links {
			a {
				width: 130px;
				display: block;
				margin: 14px auto;

				img {

					max-width: 130px;
					max-height: 40px;
				}
			}

		}

	}

}
