// main: style.less

.PriceTabs {

	ul {
		animation-name: priceanim;
		animation-duration: 1300ms;
	}

	.price-info span {
		transform: translateY(-80px);
		opacity: 0;
		animation-fill-mode: forwards;
		animation-name: priceleadanim;
		animation-duration: 400ms;
		animation-delay: 1000ms;
	}

}

.PriceTabs.rendered {
	.price-info span {
		animation-duration: 600ms;
		animation-delay: 200ms;
	}
}

@keyframes priceanim {
	0% {transform: translateY(-80px); opacity: 0; }
	65% {transform: translateY(-80px); opacity: 0; }
	100% {transform: translateY(0px); opacity: 1; }
}

@keyframes priceleadanim {
	0% {transform: translateY(-80px); opacity: 0; }
	100% {transform: translateY(0px); opacity: 1; }
}

.PriceTabs {

	padding-top: 65px;

	.price-info {
		max-width: 530px;
		margin: 50px auto 0px auto;

		span {
			display: block;
			text-align: center;
			color: @textBlACK;
			.fontLight;
			font-size: 14px;
			line-height: 170%;
		}
	}

	ul {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		list-style-type: none;
		text-align: center;
	}

	li {
		position: relative;
		display: inline-block;
		margin: 0px 0px;
		padding: 2px 0px 0px 0px;
		cursor: pointer;
		vertical-align: middle;

		span {
			opacity: 0.4;
			color: @BLUE;
			.fontMedium;
			font-size: 16px;
			text-transform: uppercase;
			transition: all 250ms;
		}

		b {
			opacity: 0.4;
		}

		.tag {
			margin: -4px 4px 0px 5px;
			display: inline-block;
			.fontBlack;
			font-size: 11px;
			vertical-align: middle;
			line-height: 100%;
			color: @WHITE;
			background: @BLUE;
			text-transform: uppercase;
			white-space: nowrap;
			padding: 3px 4px 2px 4px;
		}

		.clock {
			display: inline-block;
			width: 75px;
			text-align: left;
			white-space: nowrap;
			vertical-align: top;
			line-height: 80%;
			margin: -2px 0px 0px 3px;

			i {
				font-size: 26px;
				float: left;
				margin: -1px 6px 0px 0px;
				vertical-align: top;
			}

			p {
				vertical-align: top;
				margin: 1px 0px 0px 0px;
				padding: 0px 0px 0px 0px;
				display: inline-block;
				line-height: 100%;
				text-transform: uppercase;
			}

			.until {
				.fontLight;
				font-size: 11px;
			}

			.date {
				.fontBold;
				color: @RED;
				font-size: 11px;
			}
		}
	}

	li.per {
		margin: 0px 6px;
		opacity: 0.4;
		color: @BLUE;
		.fontMedium;
		font-size: 16px;
		text-transform: uppercase;
		transition: all 250ms;
		cursor: default;
	}

	li.per.active {
		padding-top: 0px;
		opacity: 1;
		.fontBlack;
		font-size: 26px;
	}

	li:hover {
		span {
			opacity: 1;
		}

		b {
			opacity: 1;
		}

	}

	li.active {
		span {
			.fontBlack;
			opacity: 1;
		}

		b {
			opacity: 1;
		}

		.clock {
			margin-top: -1px;
		}
	}

	li.early { width: 166px; }
	li.summer { width: 216px;
		span { display: inline-block; width: 132px; margin-left: -6px; }
	}
	li.regular { width: 82px; }
	li.late { width: 46px; }
	li.onsite { width: 184px; }

	li.per { width: 13px; }
}

@media only screen and (max-width: 820px) {

	.PriceTabs {
		padding-top: 25px;

		.price-info {
				display: none;
		    max-width: 530px;
				padding: 0px 20px;
		    margin: 16px auto 0 auto;
		}

		li {
			width: 300px !important;
			display: block;
			height: 26px;
			text-align: center;
			margin: 0px auto 0px auto;

			span {
				font-size: 13px;
			}

			.tag {
				margin: -2px 4px 0 5px;
				font-size: 10px;
			}

			.clock {
				width: auto;
				vertical-align: middle;
				margin-top: 0px;
				margin-left: 6px;
				i {
					margin: -3px 4px 0 0;
					font-size: 18px;
				}

				br {
					display: none;
				}

				p:last-child {
					margin-left: 5px;
				}
			}
		}

		li.active {
			.tag {
				 margin: -5px 4px 0 5px;
			}
			.clock {
			  margin-top: -1px;
			}

			span {
				font-size: 17px;
			}
		}

		li.summer {
		  width: 300px;
			span {
				width: auto;
				margin-left: 0px;
			}
		}

		li.per {
			display: none;
		}
	}

}
