// out: ../build/style.min.css, sourcemap: false, compress: true
@import "base.less";

body, html {
	min-height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background-image: url(assets/images/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-color: #FFFFFF;
	color: @BLACK;
	.fontLight();
	font-size: 16px;
	line-height: 160%;
	-webkit-font-smoothing: antialiased;

	a{
		text-decoration: none;

		img{
			border: none;
		}
	}
}

@media only screen and (max-width: 800px) {
	body {
		background-position: center 200px;
	}
}

.appWrapper {
	background: #FFFFFF;
	animation-name: appear;
  animation-duration: 1000ms;
}

@keyframes appear {
    0% {opacity: 0;}
		40% {opacity: 0;}
    100% {opacity: 1;}
}


@import "environment.less";
@import "tabs.less";
@import "price-tabs.less";
@import "tickets.less";
@import "partners.less";
