// main: style.less

.Tabs {
	animation-name: tabanim;
	animation-duration: 1200ms;
}

@keyframes tabanim {
	0% {transform: translateY(-300px);}
	30% {transform: translateY(-300px);}
	100% {transform: translateY(0px);}
}

.Tabs {
	background: @lightGREY;
	box-shadow: 0px 0px 12px rgba(0,0,0,0.2);

	ul {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		list-style-type: none;
		text-align: center;
	}

	li {
		position: relative;
		display: inline-block;
		margin: 0px 40px;
		padding: 35px 0px 30px 0px;
		cursor: pointer;

		span {
			color: @textGRAY;
			.fontMedium;
			font-size: 16px;
			text-transform: uppercase;
			transition: all 250ms;

			i {
				display: inline-block;
				margin-right: 4px;
			}
		}
	}

	li:after {
		opacity: 0;
		content: "";
		position: absolute;
		bottom: 0px;
		margin-left: -30px;
		left: 50%;
		width: 0;
		height: 0;
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		border-top: 0px solid @lightGREY;
		transition: all 500ms;
	}

	li:before {
		opacity: 0;
		content: "";
		position: absolute;
		bottom: 0px;
		margin-left: -30px;
		left: 50%;
		width: 0;
		height: 0;
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		border-top: 0px solid rgba(0,0,0,0.1);
		filter: blur(0px);
		transition: all 500ms;
	}

	li.single { width: 174px; }
	li.group { width: 164px; }
	li.investors { width: 120px; }
	li.startups { width: 104px; }

	li:hover {
		span {
			color: @BLUE;
		}
	}

	li.active {
		span {
			.fontBlack;
			color: @BLUE;
		}
	}

	li.active:after {
		opacity: 1;
		bottom: -14px;
		margin-left: -12px;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-top: 14px solid @lightGREY;
	}

	li.active:before {
		opacity: 1;
		bottom: -17px;
		margin-left: -12px;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-top: 14px solid rgba(0,0,0,0.1);
		filter: blur(2px);
	}


}

@media only screen and (min-width: 801px) and (max-width: 1200px) {
	.Tabs li {
    margin: 0 25px;
	}
}

@media only screen and (max-width: 800px) {
	.Tabs {
		li {
			padding: 25px 0 20px 0;
			margin: 0 14px;

			span {
				font-size: 13px;
				i {
					font-size: 16px;
					display: block;
					margin: 0px 0px 4px 0px;
				}
			}
		}

		li.single { width: 132px; }
		li.group { width: 118px; }
		li.investors { width: 80px; }
		li.startups { width: 76px; }
	}
}

@media only screen and (max-width: 540px) {
	.Tabs {
		li {
			width: 70px !important;
			vertical-align: top;
			line-height: 90%;
			height: 52px;
			padding: 16px 0 16px 0;
			margin: 0 5px;

			span {
				font-size: 11px;
				line-height: 100%;
			}
		}

	}
}
