// main: style.less

.Tickets li.ticketli {
	transform:scale(0);
	opacity: 0;
	transform-origin: 50% 50%;
	animation-fill-mode: forwards;
	animation-name: ticketanim;
	animation-duration: 500ms;

}

@keyframes ticketanim {
	0% { transform:scale(0); opacity: 0; }
	100% { transform:scale(1); opacity: 1; }
}


.Tickets.first li.ticketli:nth-child(1) { animation-delay: 1000ms; }
.Tickets.first li.ticketli:nth-child(2) { animation-delay: 1100ms; }
.Tickets.first li.ticketli:nth-child(3) { animation-delay: 1200ms; }
.Tickets.first li.ticketli:nth-child(4) { animation-delay: 1300ms; }

.Tickets li.ticketli:nth-child(1) { animation-delay: 150ms; }
.Tickets li.ticketli:nth-child(2) { animation-delay: 250ms; }
.Tickets li.ticketli:nth-child(3) { animation-delay: 350ms; }
.Tickets li.ticketli:nth-child(4) { animation-delay: 450ms; }

.Tickets .front {
	perspective: 400px;
}

.Tickets .front .price {
	opacity: 0;
	transform: rotateX(77deg);
	transform-origin: 50% 50%;
	animation-fill-mode: forwards;
	animation-name: ticketpriceanim;
	animation-duration: 800ms;
}

@keyframes ticketpriceanim {
	0% { transform: rotateX(180deg); opacity: 0; }
	100% { transform: rotateX(0deg); opacity: 1; }
}

.Tickets .front .until {
	opacity: 0;
	animation-fill-mode: forwards;
	animation-name: ticketuntilanim;
	animation-duration: 800ms;
	animation-delay: 300ms;
}

@keyframes ticketuntilanim {
	0% { opacity: 0; }
	100% { opacity: 1; }
}


.Tickets .compare {
	opacity: 0;
	transform: translateY(80px);
	animation-fill-mode: forwards;
	animation-name: compareanim;
	animation-duration: 500ms;
	animation-delay: 1300ms;
}

@keyframes compareanim {
	0% {transform: translateY(80px); opacity: 0; }
	100% {transform: translateY(0px); opacity: 1; }
}


@changeDuration: 300ms;

.Tickets {

	margin: 60px 0px 120px 0px;

	.compare {
		position: relative;
		display: block;
		width: 206px;
		height: 40px;
		margin: 80px auto;
		perspective: 200px;

		span {
			position: absolute;
			z-index: 50;
			display: block;
			width: 206px;
			margin: 0px 0px 0px 0px;
			padding: 13px 0px 12px 0px;
			.fontBlack;
			font-size: 14px;
			color: @BLUE;
			text-transform: uppercase;
			line-height: 100%;
			text-align: center;
			background: @WHITE;
			border: 1px solid @BLUE;
			transition: all @changeDuration;
			cursor: pointer;
		}

		span:before {
			content: "";
			position: absolute;
			z-index: 100;
			top: -1px;
			margin-left: -100px;
			left: 50%;
			width: 0;
			height: 0;
			border-left: 100px solid transparent;
			border-right: 100px solid transparent;
			border-bottom: 1px solid @BLUE;
			transition: all @changeDuration;
			transition-delay: 150ms;
		}

		span:after {
			content: "";
			position: absolute;
			z-index: 110;
			top: 0px;
			margin-left: -100px;
			left: 50%;
			width: 0;
			height: 0;
			border-left: 100px solid transparent;
			border-right: 100px solid transparent;
			border-bottom: 1px solid @WHITE;
			transition: all @changeDuration;
			transition-delay: 150ms;
		}
	}

	.compare:hover {
		span:before {
			top: -20px;
			margin-left: -30px;
			border-left: 30px solid transparent;
			border-right: 30px solid transparent;
			border-bottom: 20px solid @BLUE;
			transition-delay: 0ms;
		}

		span:after {
			top: -19px;
			margin-left: -30px;
			border-left: 30px solid transparent;
			border-right: 30px solid transparent;
			border-bottom: 20px solid @WHITE;
			transition-delay: 0ms;
		}
	}

	.compare.closed {
		.opened {
			opacity: 0;
			transform: rotateX(180deg);
			transition-delay: 0ms;
		}
		.closed {
			opacity: 1;
			transform: rotateX(0deg);
			transition-delay: @changeDuration;
		}
	}

	.compare.opened {
		.opened {
			opacity: 1;
			transform: rotateX(0deg);
			transition-delay: @changeDuration;
		}
		.closed {
			opacity: 0;
			transform: rotateX(180deg);
			transition-delay: 0ms;
		}
	}

	ul.ticketul {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		list-style-type: none;
		text-align: center;
	}

	li.ticketli {
		position: relative;
		display: inline-block;
		width: 370px;
		margin: 0px 10px 20px;
		padding: 0px 0px 0px 0px;
		vertical-align: middle;
		perspective: 800px;
	}

	@flipdelay: 250ms;

	li.ticketli.false {
		.back {
			transform: rotateX(90deg);
			transition-delay: 0ms;
		}

		.front {
			transform: rotateX(0deg);
			transition-delay: @flipdelay;
		}
	}

	li.ticketli.true {
		.back {
			transform: rotateX(-0deg);
			transition-delay: @flipdelay;
		}

		.front {
			transform: rotateX(-90deg);
			transition-delay: 0ms;
		}
	}

	.back {
		background: @lightGREY;
		position: absolute;
		width: 100%;
		height: 100%;
		top:0px;
		left:0px;
		bottom: 0px;
		right: 0px;
		transition: transform @flipdelay;
		box-shadow: 0px 2px 16px rgba(0,0,0,0.15);

		.data {
			padding: 30px;

			h3 {
				margin: 0px 0px 20px 0px;
				padding: 0px 0px 0px 0px;
				.fontRegular;
				font-size: 24px;
				color: @BLUE;
				text-transform: uppercase;
				line-height: 100%;
			}

			i {
				color: @RED;
				font-size: 72px;
			}

			.lead {
				position: relative;
				margin: 20px 0px 0px 0px;
				padding: 0px 0px 0px 0px;
				.fontRegular;
				font-size: 16px;
				color: @textGRAY;
				line-height: 120%;
			}

			.goback {
				position: absolute;
				bottom: 20px;
				left: 50%;
				margin-left: -30px;
				width: 60px;
				text-align: center;
				opacity: 0.3;
				text-transform: uppercase;
				text-decoration: underline;
				cursor: pointer;
				.fontMedium;
				font-size: 12px;
				color: @textBlACK;
				transition: opacity 250ms;
			}

			.goback:hover {
				opacity: 1;
			}
		}
	}

	.front {
		background: @lightGREY;
		box-shadow: 0px 2px 16px rgba(0,0,0,0.15);
		transition: box-shadow 300ms, transform @flipdelay;

		.datas {
			padding: 25px 0px 0px 0px;
			height: 184px;
			transition: opacity @changeDuration;
		}

		h2 {
			margin: 0px 0px 20px 0px;
			padding: 0px 0px 0px 0px;
			.fontBlack;
			font-size: 19px;
			color: @BLUE;
			text-transform: uppercase;
			line-height: 100%;
			transition: color @changeDuration;
		}

		.price {
			margin: 0px 0px 14px 0px;
			padding: 0px 0px 0px 0px;
			.fontBold;
			font-size: 60px;
			color: @BLUE;
			text-transform: uppercase;
			line-height: 100%;
			transition: color @changeDuration;
		}

		.save {
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
			.fontRegular;
			font-size: 14px;
			height: 24px;
			color: @textGRAY;
			line-height: 100%;
			transition: color @changeDuration;
		}

		.label {
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
			.fontMedium;
			font-size: 14px;
			height: 20px;
			color: @textGRAY;
			line-height: 100%;
			transition: color @changeDuration;
		}


		.until {
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
			.fontMedium;
			font-size: 18px;
			color: @BLUE;
			line-height: 100%;
			transition: color @changeDuration;
		}

		.button {
			display: block;
			background: @BLUE;
			padding: 21px 0 18px 0;
			.fontBlack;
			font-size: 20px;
			color: @WHITE;
			line-height: 100%;
			cursor: pointer;
			text-transform: uppercase;
			transform-origin: 50% 100%;
			transition: all @changeDuration;
		}

		.highlight {
			margin: 0px 0px 8px 0px;
			padding: 0px 0px 0px 0px;
			.fontMedium;
			font-size: 19px;
			color: @RED;
			line-height: 100%;
			text-transform: uppercase;
			transition: color @changeDuration;
		}

		.special {
			padding: 0px 20px;
		}

		.special-inputcont {
			position: relative;
			background: @WHITE;
			height: 30px;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) inset;

			.placeholder {
				opacity: 1;
				display: block;
				position: absolute;
				z-index: 50;
				top: 3px;
				box-sizing: border-box;
				width: 100%;
				border: none;
				.fontMedium;
				font-style: italic;
				font-size: 13px;
				color: @textGRAY;
				text-align: center;
				transition: all 250ms;

				b {
					display: inline-block;
					margin-left: 4px;
					font-weight: 300;
					color: @BLUE;
					text-transform: uppercase;
				}
			}

			.placeholder.hidden {
				opacity: 0;
			}

			input {
				position: absolute;
				z-index: 100;
				top: 0px;
				bottom: 0px;
				left: 0px;
				right: 0px;
				box-sizing: border-box;
				width: 100%;
				padding: 0px 12px;
				background: rgba(0, 0, 0, 0);
				border: none;
				.fontMedium;
				font-size: 15px;
				color: @BLUE;
				text-align: center;
			}
		}

		.dateSelector {
			display: flex;
			padding: 0px 20px;
			height: 0px;
			overflow: hidden;
			transition: height 400ms;
			transition-delay: 1000ms;

			span {
				flex: 1;
				height: 24px;
				line-height: 100%;
				display: inline-block;
				margin: 0px 4px;
				padding: 10px 5px 9px;
				.fontBlack;
				font-size: 11px;
				color: @textGRAY;
				background: rgba(0, 0, 0, 0.05);
				cursor: pointer;
				transition: all 250ms;

				b{
					display: block;
					margin-top: 2px;
					.fontMedium;
				}
			}

			span.selected {
				background: @BLUE;
				color: @WHITE;
			}

			span:first-child {
				margin-left: 0px;
			}
			span:last-child {
				margin-right: 0px;
			}
		}

		.dateSelector.opened {
			height: 64px;
			transition-delay: 0ms;
		}

		.details {
			margin: 0px 0px 0px 0px;
			padding: 0px 40px 0px 40px;
			list-style-type: none;
			text-align: left;
			height: 0px;
			overflow: hidden;
			transition: height 1000ms;

			li {
				position: relative;
				width: 250px;
				margin: 0px auto 10px auto;
				padding: 0px 0px 0px 0px;
				display: block;
				.fontLight;
				font-size: 14px;
				height: 18px;
				color: @textBlACK;
				line-height: 160%;
				height: auto;
			}

			li:before {
				content: "";
				position: absolute;
				top: 8px;
				left: -16px;
				width: 4px;
				height: 4px;
				border-radius: 4px;
				background: @BLUE;
			}
		}

	}

	.details.opened {
		height: 280px;
	}

	.front.early {
		.datas {opacity: 0.4; }
		.details {opacity: 0.4; }
		h2 { color: @textGRAY; }
		.price { color: @textGRAY; text-decoration: line-through;}
		.save { color: @textGRAY; }
		.until { color: @textGRAY;}
		.highlight { color: @textGRAY;}

		.button {
			transform: scaleY(0);
		}
	}


	li.ticketli.highlighted {
		.front {
			.datas {
				height: 250px;
			}

			.button {
				background: @RED;
			}
		}

	}
}

@media only screen and  (max-width: 1620px) {
	.Tickets {
		li.ticketli {
			vertical-align: bottom;
		}

		li.ticketli:nth-child(3) {
	    vertical-align: top;
		}
	}
}

@media only screen and (min-width: 1001px) and (max-width: 1620px) {
	.Tickets {
		width: 90%;
		max-width: 1200px;
    margin: 60px auto 120px auto;

		li.ticketli {
			width: 45%;
		}
	}
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
	.Tickets {
		width: 90%;
		max-width: 900px;
    margin: 60px auto 120px auto;

		.compare:hover {
			span:before {
				top: -1px;
				margin-left: -100px;
				border-left: 100px solid transparent;
				border-right: 100px solid transparent;
				border-bottom: 1px solid @BLUE;
				transition-delay: 0ms;
			}

			span:after {
				top: 0px;
				margin-left: -100px;
				border-left: 100px solid transparent;
				border-right: 100px solid transparent;
				border-bottom: 1px solid @WHITE;
				transition-delay: 0ms;
			}
		}

		li.ticketli {
			width: 45%;
		}

		.front {
			h2 {
				font-size: 17px;
			}

			.special-inputcont {
				.placeholder {
					font-size: 11px;
				}
			}
		}

		.back {
			.data {
				h3 {
					font-size: 20px;
				}

				i {
					font-size: 58px;
				}

				.lead {
					font-size: 14px;
				}
			}
		}
	}
}

@media only screen and (max-width: 800px) {
	.Tickets {
		width: auto;
		max-width: 500px;
		padding: 0px 10px;
    margin: 30px auto 90px auto;

		.compare:hover {
			span:before {
				top: -1px;
				margin-left: -100px;
				border-left: 100px solid transparent;
				border-right: 100px solid transparent;
				border-bottom: 1px solid @BLUE;
				transition-delay: 0ms;
			}

			span:after {
				top: 0px;
				margin-left: -100px;
				border-left: 100px solid transparent;
				border-right: 100px solid transparent;
				border-bottom: 1px solid @WHITE;
				transition-delay: 0ms;
			}
		}

		li.ticketli {
			display: block;
			width: auto;
		}

		li.ticketli.highlighted {
			.front {
				.datas {
					height: 210px;
				}
			}
		}

		.front {
			h2 {
				font-size: 16px;
			}

			.details {
				li {
					width: 220px;
				}
			}

			.special-inputcont {
				.placeholder {
					font-size: 11px;
					letter-spacing: -0.05em;
				}
			}
		}

		.compare {
			margin: 50px auto;
		}

		.back {
			.data {
				h3 {
					font-size: 20px;
				}

				i {
					font-size: 58px;
				}

				.lead {
					font-size: 14px;
				}
			}
		}
	}
}
